# ADS-507 Team 2 Final Project

## Global setup

In [1]:
'''Setup Kaggle API citation:
https://www.kaggle.com/docs/api'''

# Load libraries
import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt
import os
import shutil
import re
import logging
import time
import kaggle
import zipfile

# Set pandas global options
pd.options.display.max_rows = 17

## Connect to Kaggle API

In [2]:
# Split up-1-level path & current working folder
up1_path, curr_folder = os.path.split(os.getcwd())
print(up1_path)
print(curr_folder)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering
deliverables

### Setup up connection

In [3]:
'''Setup Kaggle API connection citation: https://python.plainenglish.io/how-to-use-the-kaggle-api-in-python-4d4c812c39c7'''
# Create Kaggle API authentication instance
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

#### Connect to database: kaggle datasets download -d thedevastator/global-fossil-co2-emissions-by-country-2002-2022

In [4]:
# Assignment data plaement folder
emi_place_folder = 'data\Emissions'

# Join up-1-level path to placement folder
emi_place_folder_path = os.path.join(up1_path, emi_place_folder)
print(emi_place_folder_path)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering\data\Emissions

In [5]:
# Assign Kaggle API link details
emi_kag_owner = 'thedevastator'
emi_kag_dataset = 'global-fossil-co2-emissions-by-country-2002-2022'
emi_kag_api_link = emi_kag_owner + '/' + emi_kag_dataset

In [6]:
# Access Kaggle API and download file(s)
api.dataset_download_files(emi_kag_api_link, path=emi_place_folder_path)

In [7]:
# Unzip downloaded file
emi_zip_file = emi_kag_dataset + '.zip'
emi_zip_file_path = os.path.join(emi_place_folder_path, emi_zip_file)
print(emi_zip_file_path)

with zipfile.ZipFile(emi_zip_file_path, 'r') as zipref:
    zipref.extractall(emi_place_folder_path)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering\data\Emissions\global-fossil-co2-emissions-by-country-2002-2022.zip

#### Connect to database: kaggle datasets download -d sevgisarac/temperature-change

In [8]:
# Assignment data plaement folder
tmp_place_folder = 'data\Temperature'

# Join up-1-level path to placement folder
tmp_place_folder_path = os.path.join(up1_path, tmp_place_folder)
print(tmp_place_folder_path)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering\data\Temperature

In [9]:
# Assign Kaggle API link details
tmp_kag_owner = 'sevgisarac'
tmp_kag_dataset = 'temperature-change'
tmp_kag_api_link = tmp_kag_owner + '/' + tmp_kag_dataset

In [10]:
# Access Kaggle API and download file(s)
api.dataset_download_files(tmp_kag_api_link, path=tmp_place_folder_path)

In [11]:
# Unzip downloaded file
tmp_zip_file = tmp_kag_dataset + '.zip'
tmp_zip_file_path = os.path.join(tmp_place_folder_path, tmp_zip_file)
print(tmp_zip_file_path)

with zipfile.ZipFile(tmp_zip_file_path, 'r') as zipref:
    zipref.extractall(tmp_place_folder_path)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering\data\Temperature\temperature-change.zip

#### Connect to database: kaggle datasets download -d iamsouravbanerjee/world-population-dataset

In [12]:
# Assignment data plaement folder
pop_place_folder = 'data\Population'

# Join up-1-level path to placement folder
pop_place_folder_path = os.path.join(up1_path, pop_place_folder)
print(pop_place_folder_path)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering\data\Population

In [13]:
# Assign Kaggle API link details
pop_kag_owner = 'iamsouravbanerjee'
pop_kag_dataset = 'world-population-dataset'
pop_kag_api_link = pop_kag_owner + '/' + pop_kag_dataset

In [14]:
# Access Kaggle API and download file(s)
api.dataset_download_files(pop_kag_api_link, path=pop_place_folder_path)

In [15]:
# Unzip downloaded file
pop_zip_file = pop_kag_dataset + '.zip'
pop_zip_file_path = os.path.join(pop_place_folder_path, pop_zip_file)
print(pop_zip_file_path)

with zipfile.ZipFile(pop_zip_file_path, 'r') as zipref:
    zipref.extractall(pop_place_folder_path)

C:\Users\acarr\Documents\GitHub\ads507_data_engineering\data\Population\world-population-dataset.zip

## Load data into MySQL tables from CSV files

### Get credentials from local path and connect to MySQL DB

In [16]:
'''Set local environment variables to hide user name & password citation:
https://www.geeksforgeeks.org/how-to-hide-sensitive-credentials-using-python/'''

user_name = os.environ['MySQLUSRAC']
user_pass = os.environ['MySQLPWDAC']

# Instantiate connection
db_conn = mysql.connect(host='localhost',
                        port=int(3306),
                        user=user_name,
                        passwd=user_pass,
                        db='507_final_proj')

# Create a cursor object
cursor = db_conn.cursor()

In [17]:
tbl_names = pd.read_sql('SHOW TABLES', db_conn)

display(tbl_names)
print(type(tbl_names))

   Tables_in_507_final_proj
0               country_map
1           emissions_gross
2           emissions_tempy
3                  etp_view
4                       iso
5                 iso_tempy
6                population
7          population_tempy
8          population_trans
9                temp_core1
10              temperature
11        temperature_tempy

<class 'pandas.core.frame.DataFrame'>

### Setup log parameters

In [18]:
'''Logging citations (see additional code in following code blocks:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://docs.python.org/3/howto/logging.html#logging-basic-example;
https://docs.python.org/3/howto/logging.html#logging-to-a-file;
https://docs.python.org/3/howto/logging-cookbook.html#using-a-rotating-log-file-handler;
https://docs.python.org/3/howto/logging-cookbook.html#using-a-timed-rotating-file-handler'''

# Set up logging
logging.basicConfig(level=logging.INFO,
                    filename='pymysql.log',
                    filemode='a',
                    format='>>>>>>>>>>>>>><<<<<<<<<<<<<<\n%(asctime)s - %(levelname)s - %(message)s')

In [19]:
'''Move files to from unpacked folder to MySQL unrestricted folder citation:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://docs.python.org/3/library/os.html;
https://docs.python.org/3/library/shutil.html'''

import os

# Set the file paths
source_files = ['C:/Users/acarr/Documents/GitHub/ads507_data_engineering/data/Emissions/GCB2022v27_MtCO2_flat.csv',
                'C:/Users/acarr/Documents/GitHub/ads507_data_engineering/data/Population/world_population.csv',
                'C:/Users/acarr/Documents/GitHub/ads507_data_engineering/data/Temperature/FAOSTAT_data_1-10-2022.csv',
                'C:/Users/acarr/Documents/GitHub/ads507_data_engineering/data/Temperature/FAOSTAT_data_11-24-2020.csv']
destination_folder = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads'

# Move the files to the destination folder and overwrite them if they already exist
for source_file in source_files:
    file_name = os.path.basename(source_file)
    destination_file = os.path.join(destination_folder, file_name)
    os.replace(source_file, destination_file)

### Update individual tables

#### Update `iso` table from CSV

In [20]:
'''Using cursor and loading into temp file:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://pynative.com/python-mysql-insert-data-into-database-table/'''

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    ist_dlt_tble_stmnt = """DELETE FROM iso_tempy"""
    cursor.execute(ist_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{ist_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ist_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Load data from CSV file into a temporary table
try:
    ist_csv_load_stmnt = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/FAOSTAT_data_11-24-2020.csv'
        INTO TABLE iso_tempy
    FIELDS TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
    LINES TERMINATED BY '\r\n'
    IGNORE 1 ROWS
    (
    country_code,
    country,
    m49_code,
    iso2,
    iso3,
    year_start,
    year_end
    )
    """
    cursor.execute(ist_csv_load_stmnt)
    logging.info(f'Successfully executed query:\n{ist_csv_load_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ist_csv_load_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Insert new records into main table
try:
    ism_load_stmtn = """
    INSERT INTO iso
    (
    country_code,
    country,
    m49_code,
    iso2,
    iso3,
    year_start,
    year_end
    )
    SELECT
        tp.country_code,
        tp.country,
        tp.m49_code,
        tp.iso2,
        tp.iso3,
        tp.year_start,
        tp.year_end
    FROM iso_tempy AS tp
    LEFT JOIN iso AS mn
        ON tp.iso3 = mn.iso3
    WHERE mn.iso3 IS NULL
    """
    cursor.execute(ism_load_stmtn)
    logging.info(f'Successfully executed query:\n{ism_load_stmtn}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ism_load_stmtn}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    cursor.execute(ist_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{ist_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ist_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

#### Update `emissions_gross` table from CSV

In [21]:
# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    egt_dlt_tble_stmnt = """DELETE FROM emissions_tempy"""
    cursor.execute(egt_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{egt_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{egt_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Load data from CSV file into a temporary table
try:
    egt_csv_load_stmnt = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/GCB2022v27_MtCO2_flat.csv'
        INTO TABLE emissions_tempy
    FIELDS TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
    LINES TERMINATED BY '\r\n'
    IGNORE 1 ROWS
    (
    country,
    iso3,
    record_year,
    total,
    coal,
    oil,
    gas,
    cement,
    flaring,
    other,
    per_capita
    )
    """
    cursor.execute(egt_csv_load_stmnt)
    logging.info(f'Successfully executed query:\n{egt_csv_load_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{egt_csv_load_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Insert new records into main table
try:
    egm_load_stmtn = """
    INSERT INTO emissions_gross
    (
    country,
    iso3,
    record_year,
    total,
    coal,
    oil,
    gas,
    cement,
    flaring,
    other,
    per_capita
    )
    SELECT
        tp.country,
        tp.iso3,
        tp.record_year,
        tp.total,
        tp.coal,
        tp.oil,
        tp.gas,
        tp.cement,
        tp.flaring,
        tp.other,
        tp.per_capita
    FROM emissions_tempy AS tp
    LEFT JOIN emissions_gross AS mn
        ON tp.iso3 = mn.iso3 AND tp.record_year = mn.record_year
    WHERE mn.iso3 IS NULL AND mn.record_year IS NULL
    """
    cursor.execute(egm_load_stmtn)
    logging.info(f'Successfully executed query:\n{egm_load_stmtn}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{egm_load_stmtn}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    egt_dlt_tble_stmnt = """DELETE FROM emissions_tempy"""
    cursor.execute(egt_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{egt_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{egt_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

#### Update `population` table from CSV

In [22]:
# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    ppt_dlt_tble_stmnt = """DELETE FROM population_tempy"""
    cursor.execute(ppt_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{ppt_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ppt_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Load data from CSV file into a temporary table
try:
    ppt_csv_load_stmnt = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/world_population.csv'
        INTO TABLE population_tempy
    FIELDS TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
    LINES TERMINATED BY '\r\n'
    IGNORE 1 ROWS
    (
    pop_rank,
    iso3,
    country,
    capital,
    continent,
    pop_2022,
    pop_2020,
    pop_2015,
    pop_2010,
    pop_2000,
    pop_1990,
    pop_1980,
    pop_1970,
    area,
    density,
    grow_rate,
    pop_perc
    )
    """
    cursor.execute(ppt_csv_load_stmnt)
    logging.info(f'Successfully executed query:\n{ppt_csv_load_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ppt_csv_load_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Insert new records into main table
try:
    ppm_load_stmtn = """
    INSERT INTO population
    (
    pop_rank,
    iso3,
    country,
    capital,
    continent,
    pop_2022,
    pop_2020,
    pop_2015,
    pop_2010,
    pop_2000,
    pop_1990,
    pop_1980,
    pop_1970,
    area,
    density,
    grow_rate,
    pop_perc
    )
    SELECT
        tp.pop_rank,
        tp.iso3,
        tp.country,
        tp.capital,
        tp.continent,
        tp.pop_2022,
        tp.pop_2020,
        tp.pop_2015,
        tp.pop_2010,
        tp.pop_2000,
        tp.pop_1990,
        tp.pop_1980,
        tp.pop_1970,
        tp.area,
        tp.density,
        tp.grow_rate,
        tp.pop_perc
    FROM population_tempy AS tp
    LEFT JOIN population AS mn
        ON tp.iso3 = mn.iso3
    WHERE mn.iso3 IS NULL
    """
    cursor.execute(ppm_load_stmtn)
    logging.info(f'Successfully executed query:\n{ppm_load_stmtn}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ppm_load_stmtn}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    ppt_dlt_tble_stmnt = """DELETE FROM population_tempy"""
    cursor.execute(ppt_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{ppt_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ppt_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

#### Update `temperature` table from CSV

In [23]:
'''Remove first row of CSV file:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://docs.python.org/3/library/csv.html'''

import csv

# Open input and output files
input_file = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/FAOSTAT_data_1-10-2022.csv'
output_file = 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/FAOSTAT_data_1-10-2022_new.csv'

with open(input_file, 'r') as csv_input_file, open(output_file, 'w', newline='') as csv_output_file:
    # Create CSV reader and writer objects
    csv_reader = csv.reader(csv_input_file)
    csv_writer = csv.writer(csv_output_file)

    # Skip the first row of the input file
    next(csv_reader)

    # Write the remaining rows to the output file
    for row in csv_reader:
        csv_writer.writerow(row)

In [24]:
# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    tpt_dlt_tble_stmnt = """DELETE FROM temperature_tempy"""
    cursor.execute(tpt_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{tpt_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{tpt_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Load data from CSV file into a temporary table
try:
    tpt_csv_load_stmnt = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/FAOSTAT_data_1-10-2022_new.csv'
        INTO TABLE temperature_tempy
    FIELDS TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
    LINES TERMINATED BY '\r\n'
    (
    domain_code,
    domain,
    area_code,
    country,
    element_code,
    element,
    month_code,
    month_name,
    year_code,
    record_year,
    unit,
    temp,
    flag,
    flag_desc
    )
    """
    cursor.execute(tpt_csv_load_stmnt)
    logging.info(f'Successfully executed query:\n{tpt_csv_load_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{tpt_csv_load_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Insert new records into main table
try:
    tpm_load_stmtn = """
    INSERT INTO temperature
    (
    domain_code,
    domain,
    area_code,
    country,
    element_code,
    element,
    month_code,
    month_name,
    year_code,
    record_year,
    unit,
    temp,
    flag,
    flag_desc
    )
    SELECT
        tp.domain_code,
        tp.domain,
        tp.area_code,
        tp.country,
        tp.element_code,
        tp.element,
        tp.month_code,
        tp.month_name,
        tp.year_code,
        tp.record_year,
        tp.unit,
        tp.temp,
        tp.flag,
        tp.flag_desc
    FROM temperature_tempy AS tp
    LEFT JOIN temperature AS mn
        ON tp.country = mn.country AND tp.month_code = mn.month_code AND tp.year_code = mn.year_code
    WHERE mn.country IS NULL AND  mn.month_code IS NULL AND mn.year_code IS NULL
    """
    cursor.execute(tpm_load_stmtn)
    logging.info(f'Successfully executed query:\n{tpm_load_stmtn}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{tpm_load_stmtn}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Wipe temp table
try:
    tpt_dlt_tble_stmnt = """DELETE FROM temperature_tempy"""
    cursor.execute(tpt_dlt_tble_stmnt)
    logging.info(f'Successfully executed query:\n{tpt_dlt_tble_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{tpt_dlt_tble_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

### Perform transformations on MySQL tables

#### Transform `population` table: Melt year cols to rows

In [25]:
'''Convert table to pandas df, melt pop numbers form cols to rows citation:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html'''

ppm_slct_all_stmnt = """SELECT * FROM population"""
ppm_slct_all_df = pd.read_sql(ppm_slct_all_stmnt, db_conn)

# Melt the subset of columns
cols_to_melt = ['pop_2022',
                'pop_2020',
                'pop_2015',
                'pop_2010',
                'pop_2000',
                'pop_1990',
                'pop_1980',
                'pop_1970']
var_names = [re.sub(r'^pop_', '', col) for col in cols_to_melt]
ppm_slct_all_df_melted = pd.melt(ppm_slct_all_df, id_vars=['pop_rank',
                                                           'iso3',
                                                           'country',
                                                           'capital',
                                                           'continent',
                                                           'area',
                                                           'density',
                                                           'grow_rate',
                                                           'pop_perc'],
                                 value_vars=cols_to_melt,
                                 var_name='year',
                                 value_name='population')
#print(ppm_slct_all_df_melted.head())

# Insert the melted data into the MySQL table
insert_query = """
INSERT INTO population_trans (pop_rank, iso3, country, capital, continent, area, density, grow_rate, pop_perc, year, population)
SELECT %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s FROM DUAL WHERE NOT EXISTS (SELECT * FROM population_trans WHERE country = %s AND year = %s)
"""
for index, row in ppm_slct_all_df_melted.iterrows():
    variable = var_names[cols_to_melt.index(row['year'])]  # get variable name based on column name
    #print(index)
    #print(row)
    #print(variable)
    values = (row['pop_rank'],
              row['iso3'],
              row['country'],
              row['capital'],
              row['continent'],
              row['area'],
              row['density'],
              row['grow_rate'],
              row['pop_perc'],
              variable,
              row['population'],
              row['country'],
              variable)
    #print(values)
    cursor.execute(insert_query, values)

#### Standardize feature values in `emissions_gross` table based on mapping to `iso`

In [26]:
'''Update table col vals based on mapping to another table citation:
OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/;
https://pynative.com/python-mysql-insert-data-into-database-table/'''

# Execute query and measure execution time
start_time = time.time()

# Update table
try:
    egm_updt_country_stmnt = """
    UPDATE emissions_gross AS t1
    INNER JOIN iso AS t2
        ON t1.iso3 = t2.iso3
    SET t1.country = t2.country
    WHERE t1.country <> t2.country AND t1.iso3 <> ''
    """
    cursor.execute(egm_updt_country_stmnt)
    logging.info(f'Successfully executed query:\n{egm_updt_country_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{egm_updt_country_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')
    
# Execute query and measure execution time
start_time = time.time()

# Update table
try:
    egm_add_cc_stmnt = """
    UPDATE emissions_gross AS t1
    INNER JOIN iso AS t2
        ON t1.country = t2.country
    SET t1.country_code = t2.country_code
    """
    cursor.execute(egm_add_cc_stmnt)
    logging.info(f'Successfully executed query:\n{egm_add_cc_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{egm_add_cc_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

#### Standardize feature values in `population_trans` table based on mapping to `iso`

In [27]:
# Execute query and measure execution time
start_time = time.time()

# Update table
try:
    ptm_updt_country_stmnt = """
    UPDATE population_trans AS t1
    INNER JOIN iso AS t2
        ON t1.iso3 = t2.iso3
    SET t1.country = t2.country
    WHERE t1.country <> t2.country AND t1.iso3 <> ''
    """
    cursor.execute(ptm_updt_country_stmnt)
    logging.info(f'Successfully executed query:\n{ptm_updt_country_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ptm_updt_country_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Update table
try:
    ptm_add_cc_stmnt = """
    UPDATE population_trans AS t1
    INNER JOIN iso AS t2
        ON t1.country = t2.country
    SET t1.country_code = t2.country_code
    """
    cursor.execute(ptm_add_cc_stmnt)
    logging.info(f'Successfully executed query:\n{ptm_add_cc_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{ptm_add_cc_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

#### Standardize feature values in `temperature` table based on mapping to `iso`### Update `temperature` table

In [ ]:
# Execute query and measure execution time
start_time = time.time()

# Update table
try:
    tpm_updt_country_stmnt = """
    UPDATE temperature AS t1
    INNER JOIN country_map AS t2
        ON t1.country = t2.country_error
    INNER JOIN iso AS t3
        ON t2.country_code = t3.country_code
    SET t1.country = t3.country
    WHERE t1.country <> t3.country
    """
    cursor.execute(tpm_updt_country_stmnt)
    logging.info(f'Successfully executed query:\n{tpm_updt_country_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{tpm_updt_country_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Execute query and measure execution time
start_time = time.time()

# Update table
try:
    tpm_add_cc_stmnt = """
    UPDATE temperature AS t1
    INNER JOIN iso AS t2
        ON t1.country = t2.country
    SET t1.country_code = t2.country_code
    """
    cursor.execute(tpm_add_cc_stmnt)
    logging.info(f'Successfully executed query:\n{tpm_add_cc_stmnt}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{tpm_add_cc_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# Extract data from each table - emissions
start_time = time.time()

try:
    emissions_query = "SELECT * FROM emissions_gross;"
    emissions_df = pd.read_sql(emissions_query, db_conn)

    display(emissions_df)
    logging.info(f'Successfully executed query:\n{emissions_query}\n\nRecords scanned: {len(emissions_df)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{emissions_query}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# Extract data from each table - temperature
start_time = time.time()

try:
    temperature_query = "SELECT * FROM temperature;"
    temperature_df = pd.read_sql(temperature_query, db_conn)

    display(temperature_df)
    logging.info(f'Successfully executed query:\n{temperature_query}\n\nRecords scanned: {len(temperature_df)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{temperature_query}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# Extract data from each table - population_trans
start_time = time.time()

try:
    worldpop_query = "SELECT * FROM population_trans;"
    worldpop_df = pd.read_sql(worldpop_query, db_conn)

    display(worldpop_df)
    logging.info(f'Successfully executed query:\n{worldpop_query}\n\nRecords scanned: {len(worldpop_df)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{worldpop_query}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# Transformation step - this is for country, year, total, temperature, and population only

# Extract data from each table - emissions
start_time = time.time()

try:
    t1_stmnt = """
    SELECT
        e.Country,
        e.Record_year,
        e.Total,
        t.temp AS Temperature,
        p.population AS Population
    FROM emissions_gross e
    JOIN temperature t
        ON e.country = t.country AND e.record_year = t.record_year
    JOIN population_trans p
        ON e.country = p.country
    ORDER BY e.country, e.record_year"""
    Transform1 = pd.read_sql(t1_stmnt, db_conn)
    display(Transform1)
    logging.info(f'Successfully executed query:\n{t1_stmnt}\n\nRecords scanned: {len(Transform1)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{t1_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# General transformation to include as much raw data to show relationships between all datasets for emissions, temperature, and population.

# Extract data from each table - emissions
start_time = time.time()

try:
    t2_stmnt = """
    SELECT
        e.total AS emissions_total,
        e.country AS emissions_country,
        e.record_year AS emissions_year,
        t.country AS temperature_country,
        t.temp AS temperature_temp,
        t.record_year AS temperature_year,
        p.year AS population_year,
        p.pop_perc AS population_percentage
    FROM emissions_gross e
    INNER JOIN temperature t
        ON e.country_code = t.country_code AND e.record_year = t.record_year
    INNER JOIN population_trans p
        ON e.country_code = p.country_code AND e.record_year = p.year
    ORDER BY emissions_country, emissions_year;
    """
    Transform2 = pd.read_sql(t2_stmnt, db_conn)
    display(Transform2)
    logging.info(f'Successfully executed query:\n{t2_stmnt}\n\nRecords scanned: {len(Transform2)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{t2_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# Main Transformation - depicts emission factors, temperature, and population factors

# Extract data from each table - emissions
start_time = time.time()

try:
    t3_stmnt = """
    SELECT
        e.country,
        e.record_year,
        e.total,
        e.coal,
        e.oil,
        e.gas,
        e.cement,
        e.flaring,
        e.other,
        e.per_capita,
        t.temp AS Temperature,
        p.density,
        p.grow_rate,
        p.pop_perc
    FROM emissions_gross e
    JOIN temperature t
        ON e.country = t.country AND e.record_year = t.record_year
    JOIN population_trans p
        ON e.country = p.country
    """
    Transform3 = pd.read_sql(t3_stmnt, db_conn)
    display(Transform3)
    logging.info(f'Successfully executed query:\n{t3_stmnt}\n\nRecords scanned: {len(Transform3)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{t3_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

In [ ]:
# Create a view for data security purposes and hide complexity of queries

view_drp_stmnt = """DROP VIEW IF EXISTS etp_view"""
cursor.execute(view_drp_stmnt)

# Create a cursor object
cursor = db_conn.cursor()

# Execute query and measure execution time
start_time = time.time()

# Execute the CREATE VIEW query
try:
    create_view_query = """
    CREATE VIEW etp_view
    AS
    SELECT
        e.country,
        e.record_year,
        e.total,
        e.coal,
        e.oil,
        e.gas,
        e.cement,
        e.flaring,
        e.other,
        e.per_capita,
        t.temp AS Temperature,
        p.density,
        p.grow_rate,
        p.pop_perc
    FROM emissions_gross e
    JOIN temperature t
        ON e.country = t.country AND e.record_year = t.record_year
    JOIN population_trans p
        ON e.country = p.country
    """
    cursor.execute(create_view_query)
    logging.info(f'Successfully executed query:\n{create_view_query}\n\nRecords scanned: {cursor.rowcount}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{create_view_query}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

# Commit the changes to the database
db_conn.commit()

#References: OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/

In [ ]:
# Query with the View - to result highest total emissions and temperature recorded for each country every year

# Extract data from each table - emissions
start_time = time.time()

try:
    vq_stmnt = """
    SELECT
        country,
        record_year,
        MAX(total) AS max_emission,
        MAX(Temperature) AS max_temperature
    FROM etp_view
    GROUP BY country, record_year
    """
    View_query = pd.read_sql(vq_stmnt, db_conn)
    display(View_query)
    logging.info(f'Successfully executed query:\n{vq_stmnt}\n\nRecords scanned: {len(View_query)}')
except mysql.Error as e:
    logging.error(f'Error executing query:\n{vq_stmnt}\n\n{e}')
finally:
    end_time = time.time()
    logging.info(f'Time taken: {end_time - start_time:.3f} seconds\n>>>>>>>>>>>>>><<<<<<<<<<<<<<\n\n')

#reference: Beaulieu, A. (2020). Learning SQL: Generate, manipulate, and retrieve data (3rd ed.). O'Reilly.

### Commit changes and close cursor and connection instances

In [ ]:
# Commit the changes to the database
db_conn.commit()

# Close the cursor and database connection
cursor.close()
db_conn.close()